{% extends "base.jinja" %}

{% block content %}
<main>
    <h2>Categories</h2>
    <div class="scroll">
        <!-- display a table of categories -->
        {% if categories %}
        <table class="table table-striped w-auto">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% for category in categories %}
                <tr>
                    <td>{{ category.CategoryName }}</td>
                    <td>
                        <form method="GET">
                            <input type="submit" value="Delete">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <div> There are no categories.</div>
        {% endif %}
    </div>   
    <!-- link to the products page -->
    <div>
        <a href="{{ url_for('product_list') }}">View Products List</a>
    </div>
</main>
{% endblock %}