{% extends "base.jinja" %}

{% block content %}
<main>
    <h2>Products</h2>
    <div class="scroll">
        <!-- display a table of products -->
        {% if products %}
        <table class="table table-striped w-auto">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Code</th>
                    <th scope="col">Name</th>
                    <th scope="col" class="right">Price</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{ product.ProductCode }}</td>
                    <td>{{ product.ProductName }}</td>
                    <td class="right">${{ "%.2f"|format(product.Price) }}</td>
                    <td>
                        <form method="GET">
                            <input type="submit" value="Delete">
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <div> There are no products.</div>
        {% endif %}
    </div> 
        <!-- link to the categories page -->
    <div>
        <a href="{{ url_for('category_list') }}">Manage Categories</a>
    </div>  
</main>
{% endblock %}